@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Lista de Productos";
}

<h2>Lista de Productos</h2>
<div class="row">
    <div class="form-group">
        <div class="col-xs-12">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="nombre">Nombre:</label><br>
                    <input type="text" id="nombre" name="nombre">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="precio">Precio:</label><br>
                    <input type="number" id="precio" name="precio">
                </div>
            </div>
            <div class="col-xs-4">
                <button id="listarProductosButton" class="btn btn-primary">Listar Productos</button>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Fecha Vencimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se llenará la tabla con los estudiantes -->
                    </tbody>
                </table>
            </div>
        </div>
        


    </div>

</div>


<button id="crearProductoButton" class="btn btn-success">Crear Producto</button>

<!-- Modal para crear estudiante -->
<div class="modal fade" id="crearProductoModal" tabindex="-1" role="dialog" aria-labelledby="createStudentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearProductoLabel">Crear Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
  
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="
https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js
"></script>
<script>
    $(document).ready(function () {
        listarProductos();

        // Cargar el contenido del modal para crear estudiante
        $('#crearProductoButton').click(function () {

            //Si quiero mostrar sin usar la vista parcial
            // $('#crearProductoModal').modal('show');
            $.ajax({
                type: "GET",
                url: "/Productos/CrearProducto",
                success: function (response) {
                    $('.modal-body').html(response);
                    $('#crearProductoModal').modal('show');
                },
                error: function () {
                    alert('Hubo un error al cargar el formulario.');
                }
            });
        });

        // Listar estudiantes y actualizar la tabla
        $('#listarProductosButton').click(function () {
            listarProductos();
        });
    });

    function listarProductos() {
        const nombre = $('#nombre').val().trim();
        const precio = $('#precio').val().trim();
        $.ajax({
            type: "GET",
            url: "/Productos/GetProductos",
            data: {
                nombre: nombre,
                precio: precio
            },
            success: function (productos) {
                var tableBody = $('table tbody');
                tableBody.empty(); // Vaciar la tabla

                productos.forEach(function (producto) {
                    var newRow = `
                                    <tr>
                                           <td>${producto.productoID}</td>
                                           <td>${producto.nombre}</td>
                                           <td>${producto.precio}</td>
                                           <td>${moment(new Date(producto.fechaVencimiento)).format("DD/MM/YYYY")} </td>
                                    </tr>`;
                    tableBody.append(newRow);
                });
            },
            error: function () {
                alert('Hubo un error al listar los productos.');
            }
        });
    }
</script>